<br>
<br>
<br>
<div class="container jumbotron text-center">
  <h2 class="display-2">Coders Community</h2><br>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <a href="/user/register" type="submit" role="button" class="btn btn-primary btn-primary">Register</a>
      </div>
      <div class="col-md-6">
        <a href="/user/login" type="submit" role="button" class="btn btn-primary btn-primary">Login</a>
      </div>
    </div>
  </div>
</div>